name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v2
    - name: Install Dependencies
      run: npm ci
    - name: Build Card
      run: npm run build

  build-demo:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v2
    - name: Install Dependencies
      run: npm ci
    - name: Build Demo
      run: npm run build
