name: Update Docs

on:
  push:
    branches:
      - main

jobs:
  trigger-update-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Update Docs Workflow
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/TECH7Fox/sip-hass-docs/dispatches \
            -d '{"event_type": "update-docs"}'
